<div class="row navbar">
    <div class="col-6 heading">
        <a routerLink="">
            <b>Vint<span class="wein">Wein</span></b><br>
            <div class="caption">The complete wine finder..</div>
        </a>
    </div>
</div>
<div class="container">
    <div class="main">
        <div class="userguide"><u><b>USER GUIDE</b></u></div><br>
        <div>1) Download VintWein App from Android’s Google Play Store, iPhone’s App Store.</div><br>
        <div>2) To open the app, tap the vintwein icon <img src="assets/logo.png" alt="" height="40px" width="30px"
                class="img-fluid"> on your home screen.</div><br>
        <div class="row">
            <div class="col-4">
                <img src="assets/splashscreen.png" alt="" height="500vh" width="250vh" class="screenshots">
                <img src="assets/homeScreen.png" alt="" height="500vh" width="250vh" class="screenshots">
            </div>
        </div>
        <br>
        <div>3) Splash Screen and Home Screen are shown above.</div><br>
        <div>4) Click on the <b>Scan button</b> to scan the wine label. Make sure to allow vintwein access to
            your camera in your settings.</div><br>
        <div>5) Take a photo of the wine label(as shown in image below).</div><br>
        <div>6) After previewing the photo, click the <img src="assets/tick.png" height="20vh" width="20vh" alt=""
                class="img-fluid"> button. To retake the photo, click the
            <img src="assets/remove.png" height="20vh" width="20vh" alt="" class="img-fluid"> button.
        </div><br>
        <div>7) The loading progress is shown after clicking on the tick button in camera screen(as in image below).
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <img src="assets/camera.png" alt="" height="500vh" width="250vh" class="screenshots">

                <img src="assets/apiLoading.png" alt="" height="500vh" width="250vh" class="screenshots">
            </div>
        </div>
        <br>
        <div>8) Now you can view the name, vintage and country of the
            scanned wine(as shown below).</div><br>
        <div>9) To buy the wine, click the <img src="assets/wine_glass.png" height="20vh" width="20vh" alt=""
                class="img-fluid"> option at the bottom of the screen.</div><br>
        <div>10) Once you click the buy button, you will be directed to an online wine store from where you can
            buy the wine.</div><br>
        <div class="row">
            <div class="col-4">
                <img src="assets/resultPage.png" alt="" height="500vh" width="250vh" class="screenshots">

                <img src="assets/wineSearcher.jpeg" alt="" height="500vh" width="250vh" class="screenshots">
            </div>
        </div>
        <br>
    </div>
</div>
<div class="footer">
    <a href="https://www.armia.com/"> Developed by Team VintWein @ Armia systems pvt. ltd</a>
</div>